:root {
  --degrees: 0deg;
}

.bg-conic {
  background: conic-gradient(
    transparent 0deg,
    transparent var(--degrees),
    rgb(255, 255, 255) var(--degrees),
    rgb(255, 255, 255) 360deg
  );
}

.hand {
  transform-origin: bottom center;
  transform: rotate(var(--degrees));
}
